/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

.mainpage {
    background: url(images/chicago.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 200px rgba(0,0,0,.5);
}

.article-body {
    background-color: #ffffff;
    box-shadow: none;
    background: none;
    -webkit-background-size: none;
    -moz-background-size: none;
    -o-background-size: none;
    background-size: none;
}

.left-aligned {
    text-align: left;
}

.left-right-bumpout-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.article-container {
    text-shadow: none;
    color: #000;
    font-family: 'Rosario', sans-serif;
}

.article-posted-on{
    font-size: 8pt;
}

.article-title{
    font-size: 12pt;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    background-color: #333;
    padding: 10px;
}

/* */
.article-container:nth-of-type(1) {
    margin-top: -10px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-left: Auto;
    margin-right: Auto;
}

/* Padding for spacing */
.inner {
    padding: 20px;
}

.inner-nav-blued-area {
    background-color: rgba(51,51,51,.6);
    height: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.opaque-dkblue-background
{
    background-color: rgba(36,82,105,.4);
}

.opaque-dkblue-background-60
{
    background-color: rgba(36,82,105,.6);
}

.article-page-nav
{
    background-color: rgba(36,82,105,1);
    background-image: url(images/skyline-header.jpg);
    min-height: 120px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 760px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 15px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

.mastfoot-height-fix {
    height: 60px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 800px;
    }
}

/* C# Code Syntax Highlighting */
.csharpcode,
.csharpcode pre { font-size: small; color: black; font-family: consolas, "Courier New", courier, monospace; background-color: #ffffff; /*white-space: pre;*/ }
.csharpcode pre { margin: 0em; } .csharpcode .rem { color: #008000; } .csharpcode .kwrd { color: #0000ff; } .csharpcode .str { color: #006080; } .csharpcode .op { color: #0000c0; } .csharpcode .preproc { color: #cc6633; } .csharpcode .asp { background-color: #ffff00; } .csharpcode .html { color: #800000; } .csharpcode .attr { color: #ff0000; } .csharpcode .alt { background-color: #f4f4f4; width: 100%; margin: 0em; }

pre {
    display: block;
    padding: 1px !important;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: none !important;
    border-radius: 4px;
}
