<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>davidsandor.com</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="css/dsTagCloud.article.css" />
    <link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-sanitize.min.js"></script>
    <script src="js/ng-infinite-scroll.min.js"></script>

    <script src="app/js/controllers.js"></script>
    <script src="js/dsTagCloud.js"></script>

</head>
<body ng-controller="BlogListCtrl" class="article-body">

    <div class="container">
        <div class="navbar navbar-fixed-top article-page-nav">
            <div class="navbar-inner inner-nav-blued-area">
                <h3 class="masthead-brand">David Sandor</h3>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 85px" infinite-scroll="blog.nextPage()" infinite-scroll-distance="1">
        <div class="row">
            <div class="col-sm-3">
                <div id="tocifyNav" class="affix"></div>

            </div>

            <div class="col-sm-9" infinite-scroll="nextPage()">
                <div ng-repeat="article in blog.items track by $index" class="article-container" infinite-scroll="nextPage()" infinite-scroll-distance="3">
                    <div class="row left-aligned">
                        <h1 class="article-title" ng-bind="article.Title"></h1>
                        <p class="article-posted-on">posted on: {{article.PublishDate}}</p>
                        <div ng-bind-html='article.Content'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<script>

    var tagCloud = $("#tocifyNav").tagcloud();

</script>
</body>
</html>